@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  --bg-gray: #8391a2;
  --gray1: #272c33;
  --gray2: #374359;
  --blue: #0d97ba;
  --bg: #ebeced;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}